{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}
	<h1>Client</h1>

	<div class="card" style="width: 18rem;">
		<div class="card-body">

			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ client.id }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ client.nom }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ client.email }}</td>
					</tr>
				</tbody>
			</table>

			<a class="btn btn-secondary btn-sm" href="{{ path('app_client_index') }}">Retour</a>

			<a class="btn btn-success btn-sm" href="{{ path('app_client_edit', {'id': client.id}) }}">Modifier</a>

		</div>
	</div>

	{{ include('client/_delete_form.html.twig') }}
{% endblock %}
